# /etc/caddy/Caddyfile
# replace <your-domain> with the actual subdomain you set DNS for.

<your-domain> {
    encode gzip
    reverse_proxy 127.0.0.1:8000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
    header {
        # don't leak server fingerprint
        -Server
        # security defaults
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
}
